#
# Sensor driver configuration
#
menuconfig INPUT_SENSOR
	bool "Sensors"
	default n
	help
	  Say Y here, and a list of supported sensorss will be displayed.
	  This option doesn't affect the kernel.

	  If unsure, say Y.

if INPUT_SENSOR

#### EF39S ####
if MACH_MSM8X60_EF39S
config EF39S_SENSORS_APDS9900_SW
	tristate "Avago apds9900 proximity and light sensor"
	depends on I2C
	default n
	help
	  Say Y here if you have a APDS9900 sensor and want to enable
	  support for the built-in sensor.

config EF39S_SENSORS_MPU3050
	tristate "InvenSense mpu3050 gyro sensor"
	depends on I2C
	default n
	help
	  Say Y here if you have a MPU3050 sensor and want to enable
	  support for the built-in sensor.

config EF39S_SENSORS_MPU_DEBUG
	tristate "InvenSense mpu debug enable"
	depends on EF39S_SENSORS_MPU3050
	default n
	help
	  Say Y here if you have a yas529 sensor and want to enable
	  support for the built-in sensor.

config EF39S_SENSORS_BMA150
	tristate "Bocsh bma150 accelerometer sensor"
	depends on EF39S_SENSORS_MPU3050
	default n
	help
	  Say Y here if you have a bma150 sensor and want to enable
	  support for the built-in sensor.

config EF39S_SENSORS_BMA250
	tristate "Bocsh bma250 accelerometer sensor"
	depends on EF39S_SENSORS_MPU3050
	default n
	help
	  Say Y here if you have a bma250 sensor and want to enable
	  support for the built-in sensor.

config EF39S_SENSORS_YAS530
	tristate "Yamaha yas529 magnetic field sensor"
	depends on EF39S_SENSORS_MPU3050
	default n
	help
	  Say Y here if you have a yas530 sensor and want to enable
	  support for the built-in sensor.
endif

#### EF40K ####
if MACH_MSM8X60_EF40K
config EF40K_SENSORS_APDS9900_SW
	tristate "Avago apds9900 proximity and light sensor"
	depends on I2C
	default n
	help
	  Say Y here if you have a APDS9900 sensor and want to enable
	  support for the built-in sensor.

config EF40K_SENSORS_MPU3050
	tristate "InvenSense mpu3050 gyro sensor"
	depends on I2C
	default n
	help
	  Say Y here if you have a MPU3050 sensor and want to enable
	  support for the built-in sensor.

config EF40K_SENSORS_MPU_DEBUG
	tristate "InvenSense mpu debug enable"
	depends on EF40K_SENSORS_MPU3050
	default n
	help
	  Say Y here if you have a yas529 sensor and want to enable
	  support for the built-in sensor.

config EF40K_SENSORS_BMA150
	tristate "Bocsh bma150 accelerometer sensor"
	depends on EF40K_SENSORS_MPU3050
	default n
	help
	  Say Y here if you have a bma150 sensor and want to enable
	  support for the built-in sensor.

config EF40K_SENSORS_BMA250
	tristate "Bocsh bma250 accelerometer sensor"
	depends on EF40K_SENSORS_MPU3050
	default n
	help
	  Say Y here if you have a bma250 sensor and want to enable
	  support for the built-in sensor.

config EF40K_SENSORS_YAS530
	tristate "Yamaha yas529 magnetic field sensor"
	depends on EF40K_SENSORS_MPU3050
	default n
	help
	  Say Y here if you have a yas530 sensor and want to enable
	  support for the built-in sensor.
endif

#### EF40S ####
if MACH_MSM8X60_EF40S
config EF40S_SENSORS_APDS9900_SW
	tristate "Avago apds9900 proximity and light sensor"
	depends on I2C
	default n
	help
	  Say Y here if you have a APDS9900 sensor and want to enable
	  support for the built-in sensor.

config EF40S_SENSORS_MPU3050
	tristate "InvenSense mpu3050 gyro sensor"
	depends on I2C
	default n
	help
	  Say Y here if you have a MPU3050 sensor and want to enable
	  support for the built-in sensor.

config EF40S_SENSORS_MPU_DEBUG
	tristate "InvenSense mpu debug enable"
	depends on EF40S_SENSORS_MPU3050
	default n
	help
	  Say Y here if you have a yas529 sensor and want to enable
	  support for the built-in sensor.

config EF40S_SENSORS_BMA150
	tristate "Bocsh bma150 accelerometer sensor"
	depends on EF40S_SENSORS_MPU3050
	default n
	help
	  Say Y here if you have a bma150 sensor and want to enable
	  support for the built-in sensor.

config EF40S_SENSORS_BMA250
	tristate "Bocsh bma250 accelerometer sensor"
	depends on EF40S_SENSORS_MPU3050
	default n
	help
	  Say Y here if you have a bma150 sensor and want to enable
	  support for the built-in sensor.

config EF40S_SENSORS_YAS530
	tristate "Yamaha yas529 magnetic field sensor"
	depends on EF40S_SENSORS_MPU3050
	default n
	help
	  Say Y here if you have a yas530 sensor and want to enable
	  support for the built-in sensor.
endif

#### PRESTO ####
if MACH_MSM8X60_PRESTO
config PANTECH_PRESTO_SENSORS_APDS9190
        tristate "Avago apds9190 proximity and light sensor"
        depends on I2C
        default y
        help
          Say Y here if you have a APDS9190 sensor and want to enable
          support for the built-in sensor.

config PANTECH_PRESTO_SENSORS_YAS530
        tristate "Yamaha yas530 magnetic field sensor"
        depends on INPUT_SENSOR
        default y
        help
          Say Y here if you have a yas530 sensor and want to enable
          support for the built-in sensor.

config PANTECH_PRESTO_SENSORS_BMA250
        tristate "Bocsh bma250 accelerometer sensor"
        depends on INPUT_SENSOR
        default y
        help
          Say Y here if you have a bma250 sensor and want to enable
          support for the built-in sensor.

config PANTECH_PRESTO_SENSORS_ORIENTATION
        tristate "YAS Orientation sensor"
        depends on PANTECH_PRESTO_SENSORS_YAS530
        default y
        help
          Say Y here if you have a orientation sensor and want to enable
          support for the built-in sensor.

config SENSOR_POWER_CONTROL
	tristate "Accelermoter & Magnetic sensor power control"
	depends on INPUT_SENSOR
	default y
	help
	  Say Y here if you want to power control
endif

endif
